footer {
    background-color: #707070;
    color: white;
    padding: 10px;
}



.p__rettigheder {
    text-align: center;
}




.footer__container {
    display: grid;
    grid-template-columns: 155px auto 75px;
    grid-template-rows: auto;
    grid-template-areas: 
        "text "
        "icon";
}



.footer__text {
    grid-column: 1;
}

.footer__iconer {
    grid-column: 3;
    margin-top: 20px;
    margin-right: 20px;
}
