
main {
    color: #707070;
}

.main__section {
    margin: 10px;
}


.main__h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__container {
    display: grid;
    grid-template-columns: 5% 35% 55% 5%;
    grid-template-rows: repeat(200px, 10px);
}

.main__article1 {
    grid-column: 3;
    background-color: #BCDFDE;
    color: #707070;
    padding: 10px;
    padding-top: 5px;
}

h3 {
    margin: 0px;
    padding-top: 5px;
}

.main__billede1 {
    grid-column: 2;
    grid-row: 1;
    margin: 0px;
}